[user]
	email = bbecker@gmail.com
	name = shonuff222
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[color]
	ui = auto
